@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=My+Soul&family=Special+Gothic+Expanded+One&display=swap');

nav {
    display: flex;
    justify-content: center; /* Center the links */
    align-items: center;
    padding: 10px;
    width: 800px;
    margin: 0 auto; /* Center the nav horizontally */

    position: relative; /* Relative positioning inside fixed header */
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    backdrop-filter: blur(19px); /* Blur effect */
    border-radius: 0px 100px 0px 100px;
}

a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: 'My Soul', cursive;
    font-weight: bolder;
    transition: color 0.3s ease;
    border: 2px solid violet;
    padding: 10px 20px; /* Adjusted padding for better appearance */
    cursor: pointer;
   
   
    border-radius: 5px; /* Optional: slight rounding for aesthetics */
}

a:hover,
.info:hover {
    text-decoration: underline;
    color: red;
}
@media (min-width: 769px) and (max-width: 991.99px) {
    nav{
        width: 750px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        margin-left: -100px;
        width: 200px;
    }

    a {
        font-size: 20px;
        margin: 0;
        padding: 8px 16px; /* Adjusted for smaller screens */
    }
}
@media screen and (max-width: 640px) {
    nav {
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: 'center';
        margin-right: -170px;
        margin-top: 20px;
    
        border-radius:  20px 0px 20px 0px;
    
        width: 270px;
        
    }

    a {
        font-size: 13px;
        margin: 0px -30px 0px -30px;
        
        font-weight: bolder;
      
         /* Adjusted for smaller screens */
    }
    
}
@media (min-width: 769px) and (max-width: 991.99px) {
    nav{
        width : 570px;
       
    }
    a{
        font-size: 16px;

    }
}

