@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Kumar+One+Outline&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Kumar+One+Outline&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Shade&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Flavors&family=Fontdiner+Swanky&family=Geostar&family=Kumar+One+Outline&family=Lexend+Zetta:wght@100..900&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Nosifer&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Rubik+Puddles&family=Ruslan+Display&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Audiowide&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Shade&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Flavors&family=Fontdiner+Swanky&family=Geostar&family=Kumar+One+Outline&family=Lexend+Zetta:wght@100..900&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Nosifer&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Rubik+Puddles&family=Ruslan+Display&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Audiowide&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Shade&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Flavors&family=Fontdiner+Swanky&family=Geostar&family=Kablammo&family=Kumar+One+Outline&family=Lexend+Zetta:wght@100..900&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Nosifer&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Rubik+Puddles&family=Ruslan+Display&family=Special+Gothic+Expanded+One&family=Story+Script&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');/* Work Section Styles */
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Audiowide&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Shade&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Flavors&family=Fontdiner+Swanky&family=Geostar&family=Kablammo&family=Knewave&family=Kumar+One+Outline&family=Lexend+Zetta:wght@100..900&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Nosifer&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Rubik+Puddles&family=Ruslan+Display&family=Special+Gothic+Expanded+One&family=Story+Script&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Aladin&family=Audiowide&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Shade&family=Creepster&family=Emilys+Candy&family=Fascinate&family=Flavors&family=Fontdiner+Swanky&family=Geostar&family=Kablammo&family=Knewave&family=Kumar+One+Outline&family=Lexend+Zetta:wght@100..900&family=Major+Mono+Display&family=Monoton&family=My+Soul&family=Nosifer&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Rubik+Puddles&family=Ruslan+Display&family=Special+Gothic+Expanded+One&family=Story+Script&family=Tiny5&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
.work-title {
    margin-left: -60px;
}

.work-content {
    color: white;
    width: 550px;
    text-align: center;
    margin-left: 450px;
    font-family: Kumar One Outline;
}
/*loder animation*/
/* From Uiverse.io by dexter-st */ 
.rotate-img {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  user-select: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 2s linear infinite;
  z-index: 0;
}
.loader2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 2s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #d60a47 inset,
      0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
}


@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #d60a47 inset,
      0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0.4;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
  z-index: 1;
  border-radius: 50ch;
  border: none;
}

.loader-letter:nth-child(1) {
  animation-delay: 0s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.8s;
}
.loader-letter:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}




@keyframes loader-rotate2 {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #d60a47 inset,
      0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
}









/* Responsive styles for Work section */
@media screen and (max-width: 768px) {
    .work-content {
        width: 90%;
        margin-left: 5%;
        font-size: 14px;
    }
    
    .work-title {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .work-content {
        width: 95%;
        margin-left: 2.5%;
        font-size: 12px;
    }
}
